a:hover {
   color: yellow;
}
.active {
    color: orange;
    
}
a{
    color:white;
}

#text {
    
    width: 5rem;
    font-size: 30px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: ;
}


#div2 {
    white-space: nowrap; 
    width: 150em; 
    height:20em;
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
}
.nav_style{
	background-color: #76923A;
	


}
.nav-text{
	color: white;
    width: 30rem;
    font-size: 50px;
    margin-left: 450px;
    font-family: "Arial", Helvetica, sans-serif;
    font-style: italic;
}

.logout{
	background: url("images/logout.png");
}


.img-icon{

	width: 40px; height: 40px;
}
.img-del{
	
	width: 20px; height: 20px;
}
.img-edit{

	width: 25px; height: 25px;
	border-radius: 30px;
}
.title{
	font-family: "Arial", Helvetica, sans-serif;

    font-style: oblique;

    font-weight: bold;

    font-size: 30px;
}
.bttn{
	background-color: #9BBC57;
	color: white;
}
.link{
	color: black;
	font-size: 12px;

}
.margin{
	margin-left: 100px;
}


.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.navbarr {
    overflow: hidden;
    background-color: #f9f9f9;
    font-family: Arial;
}


