{% load static %}
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" 
integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>-->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>



<link rel="stylesheet" type="text/css" href="{% static 'blog\bootstrap-4.0.0-beta.2\dist\css\bootstrap.min.css'%}">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>

<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />

<script type="text/javascript">

  //  $(document).ready(function(){

  //    $('#nav_items').on('click', 'a', function(){

  //     $('#nav_items a.active').removeClass("active");
  //     $(this).addClass("active");
  //   });

  // });
  // $(document).ready(function(){

  //   $('nav div div a').click(function(){

  //     $('div a').removeClass("active");
  //     $(this).addClass("active");
  //   });

  // });
  
  

</script>
<!--
<script>
$(document).ready(function(){
    $("a").click(function(){
        $("p").hide();
    });
});
</script>-->
<!--
<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $("p").hide();
    });
    $("#show").click(function(){
        $("p").show();
    });
});
</script>-->

</head>


<body>
  <!--
  <p>If you click on the "Hide" button, I will disappear.</p>

<button id="hide">Hide</button>
<button id="show">Show</button>-->
<nav class="navbar navbar-expand-lg nav_style">
  
     <a href=#><img src="{% static 'images/blog_icon.png' %}" class=" img-icon" name="logout" alt="imgage"></a>
      <a class="navbar-brand text" id="text" href="#">Blog</a>
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
     
     

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" id="nav_items">

      <!--
      <a class="nav-item nav-link active" href="#" style="color: white;">Home <span class="sr-only">(current)</span></a>
      
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>-->
      
      <a class="nav-item nav-link nav_text" {% url 'blog:index' as path1 %} {% if request.path == path1 %} class="active" {% endif %} href="{% url 'blog:index' %}">My Blogs</a>
      <a class="nav-item nav-link nav_text" {% url 'blog:save_data' as path2 %} {% if request.path == path2 %} class="active" {% endif %}  href="{% url 'blog:save_data' %}">Write Blog {{ path2 }}</a>
      <a class="nav-item nav-link nav_text" href="{% url 'blog:profile' %}" >My Profile</a>
      <a class="nav-item nav-link nav_text" href="{% url 'blog:change_password' %}">Change password</a>

      
      
    </div>
    </div> 
  
    
      <a class="nav-item nav-link nav_text" href="#">Welcome !</a>
      <a class="nav-item nav-link nav_text" href="#">{{request.user.username}}</a>
      <a href="{% url 'blog:signout' %}"><img src="{% static 'images/logout.png' %}" class="rounded-circle img-icon" name="logout" alt="imgage"></a>
 </nav>

<!--
 <div class="container-fluid" >
            <a href="{% url 'blog:save_data' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>




    
    <nav class="navbar navbar-light nav_style ">
        <h1 class="nav-text">Blog</h1>

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{request.user.username}}
        </a>
        
        

        <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>-->
<!--
<select>
  <option value="volvo">{{request.user.username}}</option>
  <option value="saab">change-password</option>
  <option value="opel">Profile</option>
  <option value="logout"><a href="{% url 'blog:signout' %}">logout</a></option>
</select>
-->
<!--
<div class="dropdown">
    <button class="dropbtn">
      <i class="fa fa-caret-down"></i>
    </button>
    
    <div class="dropdown-content">
      <a href="#">Profile</a>
      <a href="#">Change-Password</a>
      <a href="{% url 'blog:signout' %}">logout</a>
    </div>
</div>
    
                <h4></h4>
               <a href="{% url 'blog:signout' %}"><img src="{% static 'images/logout.png' %}" class="rounded-circle img-icon" name="logout" alt="imgage"></a>
               <a href="{% url 'blog:change_password' %}">Change password</a>
               <a href="{% url 'blog:index' %}">View Blogs</a>
               <a href="{% url 'blog:profile' %}">profile</a>
    </nav>-->
   
  <!-- Navbar content -->

  </div>
        <div style="height: 10px;">
            
            </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
  </body>
  </html>