{% extends 'blog/base.html' %}
<!--
  <form  action="" method="post">{% csrf_token %}
    
    <input id="title_id" type="text" name="title" value=""><br>
    <textarea rows="30" cols="60" id="body_id" name="body"></textarea><br>
     <input type="submit" name = "save" value="Save">
  
  </form>
-->

{% block content %}
<div>
<div class="card w-75">
  <div class="card-body">
    <h1 style="color: #76923A">New Blog</h1>
<form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
    
    <label for="{{ form.title.id_for_label }}">Title:</label>
    {{ form.title }}<br>
    </div>
    <div class="fieldWrapper">

    <label for="{{ form.body.id_for_label }}">Body:</label><br>
    {{ form.body }}
  </div>
    <button class="btn bttn" type="submit">Post</button>
    <a href="{% url 'blog:upload_file' %}" class="link">upload file</a><br>
</form>
</div>
</div>
</div>
{% endblock %}

